<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button color="blue"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button (click)="goHome ()">
        <img class="logo" src="assets/logo.png">
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div text-center>
          <h2 text-wrap class="title-color">Capacitaciones</h2>
          <h4 title-color>{{ _object?.user_company_name }}</h4>
        </div>

        <ion-list>
          <ion-item-divider>
            <ion-label>
              <b>Fecha y hora de solicitud:</b>
            </ion-label>
          </ion-item-divider>
          <ion-item>
            {{ getFormatDateTime (_object?.created_date) }}
          </ion-item>

          <ion-item-divider>
            <ion-label>
              <b>Fecha de capacitación:</b>
            </ion-label>
          </ion-item-divider>
          <ion-item>
            {{ getFormatDateTime (_object?.date) }}
          </ion-item>

          <ion-item-divider>
            <ion-label>
              <b>Cliente:</b>
            </ion-label>
          </ion-item-divider>
          <ion-item>
            {{ _object?.user_fullname }}
          </ion-item>

          <ion-item-divider>
            <ion-label>
              <b>Capacitación requerida:</b>
            </ion-label> 
          </ion-item-divider>
          <ion-item *ngIf="_object?.first_id === true">
            - Primeros auxilios
          </ion-item>

          <ion-item *ngIf="_object?.emergency_brigade === true">
            - Brigada de emergencia
          </ion-item>

          <ion-item *ngIf="_object?.fire_extinguishers === true">
            - Manejo de extintores
          </ion-item>

          <ion-item *ngIf="_object?.nutrition === true">
            - Manipulación de alimentos
          </ion-item>

          <ion-item-divider>
            <ion-label>
              <b>Cantidad de participantes:</b>
            </ion-label>
          </ion-item-divider>
          <ion-item>
            {{ _object?.numero_personas }}
          </ion-item>
        </ion-list>

        <div text-center>
          <ion-button (click)="edit ()" color="blue" expand="block">
            Editar
          </ion-button>

          <ion-button (click)="cancel ()" color="danger" expand="block">
            Cancelar
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
