<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button color="blue"></ion-back-button>
    </ion-buttons>


    <ion-buttons slot="start">
      <ion-button (click)="goHome ()">
        <img class="logo" src="assets/logo.png">
      </ion-button>
    </ion-buttons>


    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div text-center>
          <h2 class="title-label">Detalle de cita</h2>
          <p text-wrap>
            Hemos realizado la reserva de tu cita médica en la especialidad de ({{ appointment?.specialty_name }})
          </p>
        </div>
        
        <ion-list>
          <ion-item-divider>
            <ion-label>
              <b>Fecha - Hora de cita:</b>
            </ion-label>
          </ion-item-divider>
          <ion-item>
            {{ appointment?.date }} - {{ appointment?.hour }}
          </ion-item>


          <ion-item-divider>
            <ion-label>
              <b>Paciente:</b>
            </ion-label>
          </ion-item-divider>
          <ion-item>
            {{ appointment?.cliente_nombre }}
          </ion-item>


          <ion-item-divider>
            <ion-label>
              <b>Teléfono:</b>
            </ion-label>
          </ion-item-divider>
          <ion-item>
            {{ appointment?.phone_number }}
          </ion-item>


          <ion-item-divider>
            <ion-label>
              <b>Correo electrónico:</b>
            </ion-label>
          </ion-item-divider>
          <ion-item>
            {{ appointment?.email }}
          </ion-item>


          <ion-item-divider>
            <ion-label>
              <b>Nacionalidad:</b>
            </ion-label>
          </ion-item-divider>
          <ion-item>
            {{ appointment?.nationality }}
          </ion-item>

          <div *ngIf="appointment?.message !== ''">
            <ion-item-divider>
              <ion-label>
                <b>Notas:</b>
              </ion-label>
            </ion-item-divider>
            <ion-item>
              {{ appointment?.message }}
            </ion-item>
          </div>
        </ion-list>
      
        <div text-center>
          <h6 text-wrap>
            Su cita está confirmada, por favor presentarse 20 minutos antes de la hora indicada.
          </h6>
          <h6 text-wrap>
            Se ah enviado un correo electrónico a <b>{{ appointment?.email }}</b> con los detalles de su cita.
          </h6>
        </div>


        <div>
          <ion-button color="blue" (click)="goHome ()">
            Ir a la pagina de inicio
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>