<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button color="blue"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button (click)="goHome ()">
        <img class="logo" src="assets/logo.png">
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="6" class="ion-align-self-center">
        <div text-center>
          <img class="logo-size" [src]="auth.user.logotipo">  
        </div>
      </ion-col>
      
      <ion-col size="6" class="ion-align-self-center">
        <div text-center>
          <h2 *ngIf="is_edit === true" text-wrap class="title-color">
            Editar botiquín
          </h2>
          <h2 *ngIf="is_edit === false" text-wrap class="title-color">
            Botiquín
          </h2>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="form">
        <ion-radio-group formControlName="type">
          <ion-list-header>
            <ion-label>Seleccione una opción:</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>Botiquín nuevo</ion-label>
            <ion-radio slot="start" value="new" checked></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Botiquín adicional</ion-label>
            <ion-radio slot="start" value="add"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Recarga de botiquín</ion-label>
            <ion-radio slot="start" value="charge"></ion-radio>
          </ion-item>
        </ion-radio-group>
        </form>
        <ion-grid>
          <ion-row>
            <ion-col size="8" offset="2">
              <ion-button *ngIf="is_edit === true" expand="block" color="blue" [disabled]="!form.valid" (click)="submit ()">
                Actualizar
              </ion-button>
              <ion-button *ngIf="is_edit === false" expand="block" color="blue" [disabled]="!form.valid" (click)="submit ()">
                Pedir
              </ion-button>  
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>