<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button color="blue"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button (click)="goHome ()">
        <img class="logo" src="assets/logo.png">
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="6" class="ion-align-self-center">
        <div text-center>
          <img class="logo-size" [src]="auth.user.logotipo">  
        </div>
      </ion-col>
      
      <ion-col size="6" class="ion-align-self-center">
        <div text-center text-wrap>
          <h2 *ngIf="is_edit === true" text-wrap class="title-color">
            Editar capacitaciones
          </h2>
          <h2 *ngIf="is_edit === false" text-wrap class="title-color">
            Capacitaciones
          </h2>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <form [formGroup]="form" (ngSubmit)="submit ()">
            <ion-item color="entry-color">
              <ion-input formControlName="contact_phone_number" type="text" placeholder="Teléfono de contacto"></ion-input>
            </ion-item>

            <div *ngIf="form.controls.contact_phone_number.errors?.required">
              <small class="color-red">* Este campo es necesario</small>
            </div>

            <ion-item color="entry-color">
              <ion-label slot="start">Cantidad de evaluados:</ion-label>
              <ion-input formControlName="cantidad" type="number" placeholder="0"></ion-input>
            </ion-item> 

            <div *ngIf="form.controls.cantidad.errors?.required">
              <small class="color-red">* Este campo es necesario</small>
            </div>

            <div text-center>
              <p>* Una representare comercial se pondrá en contacto con ustedes</p>
            </div>
          </form> 
        </ion-list>

        <ion-grid>
          <ion-row>
            <ion-col size="8" offset="2">
              <ion-button *ngIf="is_edit === true" [disabled]="!form.valid" expand="block" color="blue" (click)="submit ()">
                Actualizar
              </ion-button>
              <ion-button *ngIf="is_edit === false" [disabled]="!form.valid" expand="block" color="blue" (click)="submit ()">
                Pedir
              </ion-button>  
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>