<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button color="blue"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button (click)="goHome ()">
        <img class="logo" src="assets/logo.png">
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
        <div text-center>
          <h2 class="title-label">Enviar una ambulancia</h2>
          <p>Enviaremos una ambulancia con médico general</p>
        </div>
        
        <ion-list>
          <div class="margin-left-xd">
            <ion-label position="stacked" style="font-size: 16px !important; font-weight: 600;">Número de teléfono</ion-label>
          </div>

          <ion-item>
            <ion-button slot="start" size="small" color="blue" (click)="select_code ()">
              <img async [src]="getFlat ()">&nbsp;
              {{ pais_selected.dial_code }}
            </ion-button>

            <ion-input type="tel" formControlName="phone_number" placeholder="Número de teléfono">
            </ion-input>
          </ion-item>

          <ion-button class="buuu" expand="block" size="small" color="white" (click)="selectOrigen ()">
            Marcar mi ubicacion {{ editar_1 }}
          </ion-button>

          <ion-item *ngIf="form.value.latitude !== 0">
            <ion-label position="stacked" style="font-size: 16px !important; font-weight: 600;">Dirección de envío</ion-label>
            <ion-input formControlName="address" placeholder="Dirección de envío"></ion-input>
          </ion-item>

          <!-- <ion-card margin class="map-class">
            <div #map id="map"></div>
          </ion-card> -->
          
          <!-- <div text-right class="margin-right">
            <p class="text-danger" (click)="getCurrentLocation ()">Ubicación actual</p>
          </div> -->
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="8" offset="2">
          <ion-button expand="block" color="blue" [disabled]="!form.valid" (click)="goConfirmAmbulance ()">
            Solicitar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
