<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button color="blue"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button (click)="goHome ()">
        <img class="logo" src="assets/logo.png">
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="6" class="ion-align-self-center">
        <div text-center>
          <img class="logo-size" [src]="auth.user.logotipo">  
        </div>
      </ion-col>
    
      <ion-col size="6" class="ion-align-self-center">
        <div text-center>
          <h2 *ngIf="is_edit === true" text-wrap class="title-color">Editar capacitaciones</h2>
          <h2 *ngIf="is_edit === false" text-wrap class="title-color">Capacitaciones</h2>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="center">
              <ion-card class="home-item" [color]="color_01" (click)="change_value (1)" no-margin no-padding>
                <p class="text-center">Primeros auxilios</p>
                <p class="text-center"><small>Duración: 4 horas</small></p>
              </ion-card>
            </ion-col>

            <ion-col size="6" class="center">
              <ion-card class="home-item" [color]="color_02" (click)="change_value (2)" no-margin no-padding>
                <p class="text-center">Brigadas de emergencia</p>
                <p class="text-center"><small>Duración: 3 horas</small></p>
              </ion-card>
            </ion-col>

            <ion-col size="6" class="center">
              <ion-card class="home-item" [color]="color_03" (click)="change_value (3)" no-margin no-padding>
                <p class="text-center">Manejo de extintores</p>
                <p class="text-center"><small>Duración: 2 horas</small></p>
              </ion-card>
            </ion-col>

            <ion-col size="6" class="center">
              <ion-card class="home-item" [color]="color_04" (click)="change_value (4)" no-margin no-padding>
                <p class="text-center">Manipulación de alimentos</p>
                <p class="text-center"><small>Duración: 2 horas</small></p>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-list>
            <form [formGroup]="form">
              <ion-item>
                <ion-label position="stacked">Cantidad de participantes:</ion-label>
                <ion-input type="number" formControlName="numero_personas" placeholder="Número de personas"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Fecha:</ion-label>
                <ion-datetime mode="ios" formControlName="date" cancelText="Cancelar" doneText="Seleccionar"
                 monthNames="enero, febrero, marzo, abril, mayo, junio, julio, agosto, septiembre, octubre, noviembre, diciembre"
                 display-format="MMMM DD, YYYY" placeholder="Elija una fecha"></ion-datetime>
              </ion-item>

              <div class="margin-left-xd">
                <ion-label position="stacked">Número de teléfono:</ion-label>
              </div>

              <ion-item>
                <ion-button slot="start" size="small" color="blue" (click)="select_code ()">
                  <img async [src]="getFlat ()">&nbsp;
                  {{ pais_selected.dial_code }}
                </ion-button>

                <ion-input type="tel" formControlName="phone_number" placeholder="Numero de teléfono">
                </ion-input>
              </ion-item>
            </form>
          </ion-list>

          <div text-center>
            <p>* Una representare comercial se pondrá en contacto con ustedes</p>
          </div>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col size="8" offset="2">
              <ion-button [disabled]="!form.valid" *ngIf="is_edit === true" expand="block" color="blue" (click)="submit ()">
                Actualizar
              </ion-button>
              <ion-button [disabled]="!form.valid" *ngIf="is_edit === false" expand="block" color="blue" (click)="submit ()">
                Pedir
              </ion-button>  
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>