<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button color="blue"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button (click)="goHome ()">
        <img class="logo" src="assets/logo.png">
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar> 
</ion-header>

<ion-content> 
  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf="!home_injection?.is_checked">
          <div text-center>
            <h3 class="title-label">Enfermera a domicilio</h3>
            <br>
            <p text-wrap>Tu pedido esta siendo comprobado, Por favor espere una confirmacion</p>
          </div>

          <div text-center>
            <ion-icon class="icon-wait"ios="ios-time" md="md-time"></ion-icon>
            <p>Gracias por su paciencia</p>
          </div>

          <ion-card>
            <ion-list>
              <ion-list-header>
                Detalles de la solicitud
              </ion-list-header>

              <ion-item>
                <ion-label>
                  <b>Cliente:</b>
                  <br>
                  {{ home_injection?.user_fullname }}
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>Fecha:</b>
                  <br>
                  {{ getFormatDate (home_injection?.date) }}
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>Horario de servicio:</b>
                  <br>
                  {{ home_injection?.hour }} Hrs.
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>Dirección:</b>
                  <br>
                  <p class="detalle">{{ home_injection?.address }}</p>
                </ion-label>
              </ion-item>
              
              <ion-item>
                <ion-label>
                  <b>Servicio:</b>
                  <br>
                  <span *ngIf="home_injection?.s_tipo === 's_01'" class="ion-text-wrap" style="display: block;">
                    - Control de presión
                  </span>

                  <span *ngIf="home_injection?.s_tipo === 's_02'" class="ion-text-wrap" style="display: block;">
                    - Control de funciones vitales
                  </span>

                  <span *ngIf="home_injection?.s_tipo === 's_03'" class="ion-text-wrap" style="display: block;">
                    - Curaciones simples
                  </span>

                  <span *ngIf="home_injection?.s_tipo === 's_04'" class="ion-text-wrap" style="display: block;">
                    - Cambio de sondas, bolsa de colostomía
                  </span>

                  <span *ngIf="home_injection?.s_tipo === 's_05'" class="ion-text-wrap" style="display: block;">
                    - Otros
                  </span>
                </ion-label>
              </ion-item>

              <ion-item *ngIf="home_injection?.note !== ''">
                <ion-label>
                  <b>Notas adicionales:</b>
                  <br>
                  <p class="detalle">{{ home_injection?.note }}</p>
                </ion-label>
              </ion-item>
            </ion-list>   
          </ion-card>
          
          <ion-grid padding>
            <ion-row>
              <ion-col size="6">
                <ion-button class="no-border" expand="block" color="blue" (click)="edit ()">
                  Editar pedido
                </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button class="no-border" expand="block" color="red" (click)="cancel ()">
                  Cancelar pedido
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <div *ngIf="home_injection?.is_checked">
          <div text-center>
            <h3 class="title-label">Enfermera a domicilio</h3>
            <p *ngIf="home_injection?.state == 'observed'" class="ion-text-wrap" style="padding-left: 0.5rem; padding-right: 0.5rem;">
              <br>
              Su pedido a sido observado, por favor corrija lo siguiente.
            </p>

            <p *ngIf="home_injection?.state == 'approved'" class="ion-text-wrap" style="padding-left: 0.5rem; padding-right: 0.5rem;">
              <br>
              Su solicitud a sido aprobada
            </p>

            <p *ngIf="home_injection?.state == 'completed'" class="ion-text-wrap" style="padding-left: 0.5rem; padding-right: 0.5rem;">
              El pasciente, nuestra prioridad
            </p>
          </div>

          <ion-item class="ion-text-center height-70" lines="none" *ngIf="home_injection?.state == 'observed' || home_injection?.state == 'canceled'">
            <ion-label *ngIf="home_injection?.state == 'observed'">
              <ion-icon class="icon-observed" ios="ios-alert" md="md-alert"></ion-icon>
              <p class="ion-margin-top ion-text-wrap">{{ home_injection?.last_message }}</p>
            </ion-label>
          </ion-item>

          <ion-item class="ion-text-center height-70" lines="none" *ngIf="home_injection?.state == 'approved'">
            <ion-label>
              <ion-icon class="icon-approved" ios="ios-checkmark" md="md-checkmark"></ion-icon>
              <p class="ion-margin-top ion-text-wrap">{{ home_injection?.last_message }}</p>
            </ion-label>
          </ion-item>
          
          <ion-item class="ion-text-center height-70" lines="none" *ngIf="home_injection?.state === 'completed'">
            <ion-label>
              <ion-icon class="icon-approved" name="checkmark-circle-outline"></ion-icon>
              <p class="ion-text-wrap" style="padding-left: 0.5rem; padding-right: 0.5rem;" *ngIf="home_injection?.payment_type === 'cash'">
                Una enfermera general lo visitará el
                {{ getFormatDate (home_injection?.date) }}
                a las
                {{ home_injection?.hour }}
                'Hrs.
                El pago por el servicio deberá ser entregado el día de la visita.
              </p>
              <p class="ion-text-wrap" style="padding-left: 0.5rem; padding-right: 0.5rem;" *ngIf="home_injection?.payment_type === 'online'">
                Una enfermera general lo visitará el
                {{ getFormatDate (home_injection?.date) }}
                a las
                {{ home_injection?.hour }}
                'Hrs.
              </p>
            </ion-label>
          </ion-item>
          
          <ion-card *ngIf="home_injection?.state === 'approved'">
            <ion-list>
              <ion-item>
                <ion-label>
                  <b>Costo</b>
                  <br>
                  Total: {{ (home_injection?.price / 100) | currency:'S/. ' }}
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card>

          <ion-card>
            <ion-list>
              <ion-list-header>
                Detalles de la solicitud
              </ion-list-header>

              <ion-item>
                <ion-label>
                  <b>Cliente:</b>
                  <br>
                  {{ home_injection?.user_fullname }}
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>Fecha:</b>
                  <br>
                  {{ getFormatDate (home_injection?.date) }}
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>Horario de servicio:</b>
                  <br>
                  {{ home_injection?.hour }} Hrs.
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>Dirección:</b>
                  <br>
                  <p class="detalle">{{ home_injection?.address }}</p>
                </ion-label>
              </ion-item>
              
              <ion-item>
                <ion-label>
                  <b>Servicio:</b>
                  <br>
                  <span *ngIf="home_injection?.s_tipo === 's_01'" class="ion-text-wrap" style="display: block;">
                    - Control de presión
                  </span>

                  <span *ngIf="home_injection?.s_tipo === 's_02'" class="ion-text-wrap" style="display: block;">
                    - Control de funciones vitales
                  </span>

                  <span *ngIf="home_injection?.s_tipo === 's_03'" class="ion-text-wrap" style="display: block;">
                    - Curaciones simples
                  </span>

                  <span *ngIf="home_injection?.s_tipo === 's_04'" class="ion-text-wrap" style="display: block;">
                    - Cambio de sondas, bolsa de colostomía
                  </span>

                  <span *ngIf="home_injection?.s_tipo === 's_05'" class="ion-text-wrap" style="display: block;">
                    - Otros
                  </span>
                </ion-label>
              </ion-item>

              <ion-item *ngIf="home_injection?.note !== ''">
                <ion-label>
                  <b>Notas adicionales:</b>
                  <br>
                  <p class="detalle">{{ home_injection?.note }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card>

          <div text-center *ngIf="home_injection?.state == 'observed'">
            <ion-row>
              <ion-col size="6">
                <ion-button expand="block" class="no-border" color="blue" (click)="edit (home_injection?.id)">
                  Correguir
                </ion-button>
              </ion-col>

              <ion-col size="6">
                <ion-button expand="block" class="no-border" ion-button color="red" (click)="cancel (home_injection?.id)">
                  Cancel
                </ion-button>
              </ion-col>
            </ion-row>
          </div>

          <div *ngIf="home_injection?.state === 'approved'">
            <div text-center padding>
              <ion-button color="blue" (click)="presentActionSheet (home_injection?.price + home_injection?.delivery_price)">
                Pagar
              </ion-button>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
