.icon-wait {
  font-size: 64px;
}

#map2 {
  width: 100%;
  height: 100%;
}

.map-class {
  height: 250px;
  width: auto;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display:none;
}
  
.gmnoprint div {
  background:none !important;
}