<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button color="blue"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button (click)="goHome ()">
        <img class="logo" src="assets/logo.png">
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center>
    <h2 text-wrap class="title-color">Hola Alain Y. Meza Huaman</h2>
    <h4 title-color>Partner: PuntoPro</h4>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4" size-xl="3" no-padding no-margin>
        <ion-card padding class="home-item" text-center (click)="goOxygenRecharge ()" no-padding no-margin>
          <img class="logo-css" src="assets/icon/recarga_ox.svg">
          <h5 text-wrap>Recarga de oxigeno</h5>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4" size-xl="3" no-padding no-margin>
        <ion-card padding class="home-item" text-center (click)="GoAdsMaterial ()" no-padding no-margin>
          <img class="logo-css" src="assets/icon/material_pub.svg">
          <h5 text-wrap>Material publicitario</h5>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4" size-xl="3" no-padding no-margin>
        <ion-card padding class="home-item" text-center (click)="goMedicalKit ()" no-padding no-margin>
          <img class="logo-css" src="assets/icon/botiquin.svg">
          <h5 text-wrap>Botiquín</h5>
          <ion-badge *ngIf="medical_kit?.state === 'created'" color="danger">Solicitado</ion-badge>
          <ion-badge *ngIf="medical_kit?.state === 'approved'" color="blue">Aprobado</ion-badge>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4" size-xl="3" no-padding no-margin>
        <ion-card padding class="home-item" text-center (click)="goTrainings ()" no-padding no-margin>
          <img class="logo-css" src="assets/icon/capacitacion.svg">
          <h5 text-wrap>Capacitaciones</h5>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4" size-xl="3" no-padding no-margin>
        <ion-card padding class="home-item" text-center (click)="goVisits ()" no-padding no-margin>
          <img class="logo-css" src="assets/icon/visita_rep.svg">
          <h5 text-wrap>Visita de representante comercial</h5>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4" size-xl="3" no-padding no-margin>
        <ion-card padding class="home-item" text-center (click)="goOccupationalEexam ()" no-padding no-margin>
          <img class="logo-css" src="assets/icon/ex_ocup.svg">
          <h5 text-wrap>Examenes ocupacionales</h5>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
