<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-button>
        <img class="logo" src="assets/logo.png">
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-card *ngIf="ambulance" class="ambulance-card" (click)="goAmbulanceCheck ()">
    <ion-item color="danger" *ngIf="ambulance?.state === 'created'">
      <ion-avatar slot="start">
        <img src="assets/imgs/ambulance.png">
      </ion-avatar>

      <ion-label style="margin-left: 1rem;">
        <h2 class="label-white ion-text-wrap"><b>Ambulancia solicitada</b></h2>
        <p class="ion-text-wrap">
          Aún por confirmar
        </p>
      </ion-label>

      <ion-button slot="end" color="white" fill="clear">
        <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item color="blue" *ngIf="ambulance?.state === 'approved'">
      <ion-avatar slot="start">
        <img src="assets/imgs/ambulance.png">
      </ion-avatar>

      <ion-label style="margin-left: 1rem;">
        <h2 class="label-white ion-text-wrap"><b>Ambulancia solicitada</b></h2>
        <p class="ion-text-wrap">
          Aprobado, esperando que la ambulancia se ponga en camino
        </p>
      </ion-label>

      <ion-button slot="end" color="white" fill="clear">
        <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item color="green" *ngIf="ambulance?.state === 'sent'">
      <ion-avatar slot="start">
        <img src="assets/imgs/ambulance.png">
      </ion-avatar>

      <ion-label style="margin-left: 1rem;">
        <h2 class="label-white ion-text-wrap"><b>Ambulancia solicitada</b></h2>
      <p class="ion-text-wrap">
        Ambulancia en camino
      </p>
      </ion-label>

      <ion-button slot="end" color="white" fill="clear">
        <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="home_pressure" class="ambulance-card" (click)="seeHomePressure ()">
    <ion-item color="blue" *ngIf="home_pressure?.state === 'created'">
      <ion-thumbnail slot="start">
        <img class="img-size" src="assets/imgs/iconos-10-symbolic.png">
      </ion-thumbnail>
        
      <ion-label text-wrap>
        <ion-text>
          <h3><b>Enfermera a domicilio</b></h3>
        </ion-text>
        <p>Aún por confirmar</p>
      </ion-label>

      <ion-button fill="outline" color="white" slot="end">Ver</ion-button>
    </ion-item>

    <ion-item color="red" *ngIf="home_pressure?.state === 'observed'">
      <ion-thumbnail slot="start">
        <img class="img-size" src="assets/imgs/iconos-10-symbolic.png">
      </ion-thumbnail>
        
      <ion-label text-wrap>
        <ion-text>
          <h3><b>Enfermera a domicilio</b></h3>
        </ion-text>
        <p>Ver detalles...</p>
      </ion-label>

      <ion-button fill="outline" color="white" slot="end">Ver</ion-button>
    </ion-item>

    <ion-item color="success" *ngIf="home_pressure?.state === 'approved'">
      <ion-thumbnail slot="start">
        <img class="img-size" src="assets/imgs/iconos-10-symbolic.png">
      </ion-thumbnail>
        
      <ion-label text-wrap>
        <ion-text>
          <h3><b>Enfermera a domicilio</b></h3>
        </ion-text>
        <p>Prosiga con el pago</p>
      </ion-label>

      <ion-button fill="outline" color="white" slot="end">Ver</ion-button>
    </ion-item>

    <ion-item color="success" *ngIf="home_pressure?.state === 'completed'">
      <ion-thumbnail slot="start">
        <img class="img-size" src="assets/imgs/iconos-10-symbolic.png">
      </ion-thumbnail>
        
      <ion-label text-wrap>
        <ion-text>
          <h3><b>Enfermera a domicilio</b></h3>
        </ion-text>
        <p>Pedido contra entrega</p>
      </ion-label>

      <ion-button fill="outline" color="white" slot="end">Ver</ion-button>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="home_doctor" class="ambulance-card" (click)="seeHomeDoctor ()">
    <ion-item color="blue" *ngIf="home_doctor?.state === 'created'">
      <ion-thumbnail slot="start">
        <img class="img-size" src="assets/icon/iconos-11-symbolic.png">
      </ion-thumbnail>
        
      <ion-label text-wrap>
        <ion-text>
          <h3><b>Médico a domicilio</b></h3>
        </ion-text>
        <p>Aún por confirmar</p>
      </ion-label>

      <ion-button fill="outline" color="white" slot="end">Ver</ion-button>
    </ion-item>

    <ion-item color="danger" *ngIf="home_doctor?.state === 'observed'">
      <ion-thumbnail slot="start">
        <img class="img-size" src="assets/icon/iconos-11-symbolic.png">
      </ion-thumbnail>
        
      <ion-label text-wrap>
        <ion-text>
          <h3><b>Médico a domicilio</b></h3>
        </ion-text>
        <p>Solicitud observada, ver detalles...</p>
      </ion-label>

      <ion-button fill="outline" color="white" slot="end">Ver</ion-button>
    </ion-item>

    <ion-item color="success" *ngIf="home_doctor?.state === 'approved'">
      <ion-thumbnail slot="start">
        <img class="img-size" src="assets/icon/iconos-11-symbolic.png">
      </ion-thumbnail>
        
      <ion-label text-wrap>
        <ion-text>
          <h3><b>Médico a domicilio</b></h3>
        </ion-text>
        <p>Prosiga con la solicitud</p>
      </ion-label>

      <ion-button fill="outline" color="white" slot="end">Ver</ion-button>
    </ion-item>

    <ion-item color="success" *ngIf="home_doctor?.state === 'completed'">
      <ion-thumbnail slot="start">
        <img class="img-size" src="assets/icon/iconos-11-symbolic.png">
      </ion-thumbnail>
        
      <ion-label text-wrap>
        <ion-text>
          <h3><b>Médico a domicilio</b></h3>
        </ion-text>
        <p *ngIf="home_doctor?.payment_type === 'online'" class="ion-text-wrap">
          Pagado
        </p>

        <p *ngIf="home_doctor?.payment_type !== 'online'" class="ion-text-wrap">
          Pedido contra entrega, pagar al mensajero
        </p>
      </ion-label>

      <ion-button fill="outline" color="white" slot="end">Ver</ion-button>
    </ion-item>
  </ion-card>

  <ion-list>
    <ion-card *ngIf="oxygen_recharge !== undefined">
      <ion-item (click)="goOxygenRechargeDetail ()">
        <ion-thumbnail slot="start">
          <img class="img-size" src="assets/icon/recarga_ox.svg">
        </ion-thumbnail>
        
        <ion-label text-wrap>
          <ion-text>
            <h3>Recarga de oxígeno</h3>
          </ion-text>
          <ion-badge *ngIf="oxygen_recharge?.state === 'created'" color="danger">Solicitado</ion-badge>
          <ion-badge *ngIf="oxygen_recharge?.state === 'approved'" color="blue">Aprobado</ion-badge>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card *ngIf="ads_materia !== undefined">
      <ion-item (click)="GoAdsMaterialDetail ()">
        <ion-thumbnail slot="start">
          <img class="img-size" src="assets/icon/material_pub.svg">
        </ion-thumbnail>
        
        <ion-label text-wrap>
          <ion-text>
            <h3>Material publicitario</h3>
          </ion-text>
          <ion-badge *ngIf="ads_materia?.state === 'created'" color="danger">Solicitado</ion-badge>
          <ion-badge *ngIf="ads_materia?.state === 'approved'" color="blue">Aprobado</ion-badge>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card *ngIf="trainings !== undefined">
      <ion-item (click)="goTrainingsDetail ()">
        <ion-thumbnail slot="start">
          <img class="img-size" src="assets/icon/capacitacion.svg">
        </ion-thumbnail>
        
        <ion-label text-wrap>
          <ion-text>
            <h3>Capacitaciones</h3>
          </ion-text>
          <ion-badge *ngIf="trainings?.state === 'created'" color="danger">Solicitado</ion-badge>
          <ion-badge *ngIf="trainings?.state === 'approved'" color="blue">Aprobado</ion-badge>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card *ngIf="visits !== undefined">
      <ion-item (click)="goVisitsDetail ()">
        <ion-thumbnail slot="start">
          <img class="img-size" src="assets/icon/visita_rep.svg">
        </ion-thumbnail>
        
        <ion-label text-wrap>
          <ion-text>
            <h3>Visita de representante comercial</h3>
          </ion-text>
          <ion-badge *ngIf="visits?.state === 'created'" color="danger">Solicitado</ion-badge>
          <ion-badge *ngIf="visits?.state === 'approved'" color="blue">Aprobado</ion-badge>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card *ngIf="medical_kit !== undefined">
      <ion-item (click)="goMedicalKitDetail ()">
        <ion-thumbnail slot="start">
          <img class="img-size" src="assets/icon/botiquin.svg">
        </ion-thumbnail>
        
        <ion-label text-wrap>
          <ion-text>
            <h3>Botiquines</h3>
          </ion-text>
          <ion-badge *ngIf="medical_kit?.state === 'created'" color="danger">Solicitado</ion-badge>
          <ion-badge *ngIf="medical_kit?.state === 'approved'" color="blue">Aprobado</ion-badge>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-card *ngIf="occupational_exam !== undefined">
      <ion-item (click)="goOccupationalEexamDetail ()">
        <ion-thumbnail slot="start">
          <img class="img-size" src="assets/icon/ex_ocup.svg">
        </ion-thumbnail>
        
        <ion-label text-wrap>
          <ion-text>
            <h3>Examenes ocupacionales</h3>
          </ion-text>
          <ion-badge *ngIf="occupational_exam?.state === 'created'" color="danger">Solicitado</ion-badge>
          <ion-badge *ngIf="occupational_exam?.state === 'approved'" color="blue">Aprobado</ion-badge>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
  
  <div text-center>
    <h2 text-wrap class="title-color">Bienvenido {{ auth.user.fullname }}</h2>
    <h4 text-wrap title-color>Partner: {{ auth.user.company_name }}</h4>
  </div>

  <div text-center>
    <h3 text-wrap class="subtitle-color">¿En qué le podemos ayudar?</h3>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4" size-xl="3" no-padding no-margin>
        <ion-card padding class="home-item" text-center (click)="goEmergencyPage ()" no-margin no-padding>
          <img class="logo-css" src="assets/icon/iconos-01.jpg">
          <h6 text-wrap>Emergencia</h6>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4" size-xl="3" no-padding no-margin> 
        <ion-card padding class="home-item" text-center (click)="GoAppointmentSpecialty ()" no-padding no-margin>
          <img class="logo-css" src="assets/icon/iconos-02.jpg">
          <h6 text-wrap>Reservar una cita</h6>
          <small>(No emergencia)</small>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4" size-xl="3" no-padding no-margin>
        <ion-card padding class="home-item" text-center (click)="goHomeDoctor ()" no-padding no-margin>
          <img class="logo-css" src="assets/icon/iconos-11.jpg">
          <h6 text-wrap>Médico a domicilio</h6>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4" size-xl="3" no-padding no-margin>
        <ion-card padding class="home-item" text-center (click)="goHomeNurse ()" no-padding no-margin>
          <img class="logo-css" src="assets/icon/iconos-10.jpg">
          <h6 text-wrap>Enfermera a domicilio</h6>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4" size-xl="3" no-padding no-margin>
        <ion-card padding class="home-item" text-center (click)="goSupplies ()" no-padding no-margin>
          <img class="logo-css" src="assets/icon/suministros.svg">
          <h6 text-wrap>Suministros</h6>
        </ion-card>
      </ion-col>

      <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4" size-xl="3" no-padding no-margin>
        <ion-card padding class="home-item" text-center (click)="goCPSRadio ()" no-padding no-margin>
          <img class="logo-css" src="assets/icon/radio cps.svg">
          <h6 text-wrap>Radio CPS</h6>
        </ion-card>
      </ion-col>

      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" no-padding no-margin>
        <ion-card padding class="home-item" text-center (click)="goBlogNews ()" no-padding no-margin>
          <h6>Blog, noticias y artículos</h6>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
