<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button color="blue"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button (click)="goHome ()">
        <img class="logo" src="assets/logo.png">
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <h2 class="title-label">{{ final_data.nombre }}</h2>
    <p margin-top text-wrap>{{ final_data.descripcion }}</p>

    <h3 margin-top class="title-label">Elige una fecha y hora</h3>
  </div>
  <!--------------- Calendario ---------------->
  <div *ngIf="citas?.length > 0">
    <div margin-top class="calendar-header">
        <ion-row class="calendar-month ion-align-items-center">
          <ion-col text-center class="ion-align-self-center" size=2 (click)="goToLastMonth()">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-col>
          <ion-col text-center class="ion-align-self-center" size=8>
            {{currentMonth}} {{currentYear}}
          </ion-col>
          <ion-col text-center class="ion-align-self-center" size=2 (click)="goToNextMonth()">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
    </div>
    <div class="calendar-body">
        <ion-grid>
          <ion-row class="calendar-weekday">
            <ion-col>Lun</ion-col>
            <ion-col>Mar</ion-col>
            <ion-col>Mié</ion-col>
            <ion-col>Jue</ion-col>
            <ion-col>Vie</ion-col>
            <ion-col>Sáb</ion-col>
            <ion-col>Dom</ion-col>
          </ion-row>
          <ion-row class="calendar-date">
            <ion-col size=1 *ngFor="let lastDay of daysInLastMonth" class="last-month col-1">
              {{ lastDay }}
            </ion-col>
            <ion-col size=1 class="col-1" *ngFor="let day of daysInThisMonth" [id]="'calendar-' + day" (click)="selectDate (day, day)">
              <!--div class="currentDate" *ngIf="currentDate === day">
                {{ day }}
              </div-->
              <div class="enabled-day" *ngIf="is_enable_day (day)">
                {{ day }}
              </div>
              <div class="no-enabled-day" *ngIf="!is_enable_day (day)">
                {{ day }}
              </div>
            </ion-col>
            <ion-col size=1 *ngFor="let nextDay of daysInNextMonth" class="next-month col-1">
              {{ nextDay }}
            </ion-col>
          </ion-row>
        </ion-grid>
    </div>

    <ion-grid *ngIf="check_1 === true" text-cente>
      <ion-row text-center *ngIf="horas?.length > 0">
        <ion-col size=4 text-center>
          <div text-center>
            <ion-list>
              <ion-item-divider color="dark" text-center><b>Mañana</b></ion-item-divider>
              <div *ngFor="let hora of horas">
                <ion-card padding [id]="'h-' + hora.id_con" *ngIf="isMorning (hora.hor_con)" (click)="selectHour (hora)">
                  {{ hora.hor_con }}
                </ion-card>
              </div>
            </ion-list>
          </div>
        </ion-col>

        <ion-col size=4 text-center text-center>
          <div text-center>
            <ion-list>
              <ion-item-divider color="dark" text-center><b>Tarde</b></ion-item-divider>
              <div *ngFor="let hora of horas">
                <ion-card padding [id]="'h-' + hora.id_con" *ngIf="isAfternoon (hora.hor_con)" (click)="selectHour (hora)">
                  {{ hora.hor_con }}
                </ion-card>
              </div>
            </ion-list>
          </div>
        </ion-col>

        <ion-col size=4 text-center text-center>
          <div text-center>
            <ion-list>
              <ion-item-divider color="dark" text-center><b>Noche</b></ion-item-divider>
              <div *ngFor="let hora of horas">
                <ion-card padding [id]="'h-' + hora.id_con" *ngIf="isEvening (hora.hor_con)" (click)="selectHour (hora)">
                  {{ hora.hor_con }}
                </ion-card>
              </div>
            </ion-list>
          </div>
        </ion-col>
      </ion-row>

      <div *ngIf="!horas?.length > 0" text-center>
        <h3>Lo sentimos</h3>
        <p text-wrap>Todas las citas para esta especialidad ya estan reservadas.</p>
      </div>
    </ion-grid>

    <div *ngIf="check_2 === true" text-center>
      <h2>Mi cita</h2>
      <h3>{{ especialidad_name }}</h3>
      <h4>{{ final_date_format }}</h4>

      <div text-center>
        <ion-button class="no-border" ion-button color="blue" (click)="goNext ()">
          Siguiente
        </ion-button>
      </div>
    </div>
  </div>

  <div *ngIf="!citas?.length > 0" text-center>
    <h3>Lo sentimos</h3>
    <p text-wrap>Todas las citas para esta especialidad ya estan reservadas.</p>
  </div>

  <div padding-top text-center>
    <h2>Atención</h2>
    <p text-wrap>
      Si la fecha que desea reservar no está disponible, proceda a reservar una atención de emergencia.
    </p>
  </div>

  <div text-center padding-top >
    <ion-button class="no-border" ion-button color="red" (click)="goEmergency ()">
      Es una emergencia
    </ion-button>
  </div>
</ion-content>
